span{
  color:        #3399cc;
}
#table{
  display:      table;
  height:       250px;
  width: 1200px;
  margin:       10px auto;
  padding:      20px;
}
#tableRow{
  display:      table-row;
}
#L_cell{
  display:      table-cell;
  width:        33%;
  height:       300px;
  padding: 0 20px;
  border-right: 1px solid #B7AAA3;
}
#M_cell{
  display:      table-cell;
  width:        33%;
  padding: 0 20px;
  height:       300px;
  border-right: 1px solid #B7AAA3;
}
#R_cell{
  display:      table-cell;
  width:        34%;
  height:       300px;
  padding: 0 20px;
 /* border-right: 1px solid #B7AAA3;*/
}
h2{
  font-weight:    bolder;
  font-family:    "Microsoft YaHei";
}

.cell_title{
  float:        left;
  color:        #E71218;
  font-size: 120%;
  font-weight:    bolder;
}

.table_content{
  height:       25px;
  /*width:        100%;*/
  background-color:   #f4efef;
  margin-top: 5px;
}
.more{
  padding:        3px;
  background-color:   #999999;
 /* margin-left:    100px;*/
  float:        right;
}
.table_content a.more{
  color:        #ffffff;
  font-family:    Verdana;
  font-size:      80%;
  padding-bottom:   5px;
}
.table_content a:link,a:visited{
  text-decoration:  none;
}
#L_cell p{
  padding-top:    25px; 
  font-weight:    bold; 
  font-family:    "宋体";
  color:        rgba(0,0,0,0.6);
  letter-spacing:   1px;
  padding-bottom:   10px;
  border-bottom-style:dashed;
  border-width:     1px;
  clear:        both; 
}
#M_cell ul{
  margin-top:     25px;
  list-style-type:  none;
}
#M_cell li{
  font-weight:    bold; 
  font-family:    "宋体";
  letter-spacing:   1px;
  clear:        both;
  padding:      5px;
}
#M_cell ul li a:link,a:visited{
  text-decoration:  none;
  color:        rgba(0,0,0,0.6);
}
#M_cell ul li a:hover{
  color: #ff9966;
}
#Product{
  padding-top:    25px;
}
table{
  margin-top:     25px;
  border-width:     3px;
  clear:        both;
}
table tr td {
  width:        100px;
  height:       50px;
  background-color:   #E2EAF1;
  border:       8px solid #ffffff;
}