<div id="slogan">
  <img src="image/banner6.jpg" />
</div>

<div id="page">
	<img src="image/star.png" class="star">
  	<h3>公司介绍</h3>
	<p>
		上海海鹏化工科技有限公司是由自然人投资控股的一家民营公司，公司成立于2009年，注册资本金1000万，现有员工21人全部为大专以上学历，经政府批准2013年公司正式成为全国工商联闵行区商会会员。
    公司自成立以来，就利用我国最大的商业、金融中心--上海和其便利的交通运输条件以及良好的商业经营环境，并结合公司的自身优势，本着“专业，专注”的经营理念，以上海建设国际金融中心为契机，构筑了全新的经营模式，立足上海，辐射全国。
    公司经营的石化产品有异丙醇，甲苯、溶剂二甲苯、异构二甲苯、乙二醇、二甘醇、丙酮等液化产品，公司自开业以来，本着诚信经营的宗旨与上海、浙江、江苏、山东、湖北、安徽、河南、天津等地区的知名石化贸易公司建立了长期业务合作关系，2014年公司年销售业绩突破人民币12亿。
	</p>
	<p>
	</p>
</div>
