<div id="slogan">
  <img src="image/banner6.jpg" />
</div>

<div id="page">
	<img src="image/star.png" class="star">
  	<h3>公司介绍</h3>
	<p>
		上海海鹏化工科技有限公司是一家经国家相关部门批准注册的企业。上海海鹏化工科技有限公司凭着良好的信用、优良的服务与多家企业建立了长期的合作关系。上海海鹏化工科技有限公司热诚欢迎各界朋友前来参观、考察、洽谈业务。
	</p>
	<p>上海海鹏化工科技有限公司业务部是一家化工原料、TDI等产品的经销批发的有限责任公司(自然人投资或控股)。上海海鹏化工科技有限公司业务部经营的化工原料、TDI畅销消费者市场。上海海鹏化工科技有限公司业务部的产品在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。上海海鹏化工科技有限公司业务部经销的化工原料、TDI品种齐全、价格合理。上海海鹏化工科技有限公司业务部实力雄厚，重信用、守合同、保证产品质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。
	</p>
</div>
