<div id="slogan">
  <img src="image/banner4.jpg" />
</div>
<div id="contact">
  <div id="title">
    <img src="image/star.png" class="star">
    <h3>联系我们</h3>
  </div>
  <img src="image/hello.png" id="hello">
  <div id="message">
    <p>地址：上海市闵行区剑川路195号沧源科技园A栋420</p>
    <p>联系人：李英玉</p>
    <p>电话：021-60521510</p>
    <p>网址：www.hpchem.cn</p>
  </div>
</div>
