<div id="slogan">
  <img src="image/banner4.jpg" />
</div>
<div id="contact">
	<div id="title">
		<img src="image/star.png" class="star">
  		<h3>联系我们</h3>
  	</div>
  	<div id="content">
  		<img src="image/hello.png" id="hello">
  		<div id="message">
  			<p>地址：上海市春申路2525号3幢230室（芭洛商务楼）</p>
  			<p>电话：021-31312020</p>
  			<p>网址：www.hyingtech.com</p>
  			<p>邮箱：13916710737@163.com</p>
  		</div>
  	</div>
</div>