<div id="slogan">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="image/banner1.jpg" alt="海阔天空">    
    </div>
    <div class="item">
      <img src="image/banner2.jpg" alt="鹏程万里">      
    </div>
  </div>
</div>
<div id="table">
  <div id="tableRow">
  <div class="col-md-4">
  <div id="L_cell">
      <h2>最新动态</h2>
      <div class="table_content">
        <div class="cell_title">LATEST NEWS</div>
          <a href="market.html" class="more">MORE</a>      
      </div>
      {{> snippet/news }}
    </div>
    </div>
    <div class="col-md-4">
    <div id="M_cell">
      <h2>我们的产品</h2>
      <div class="table_content">
        <div class="cell_title">OUR PRODUCTS</div>      
        <a href="product.html" class="more">MORE</a>        
      </div>
      <ul>
        <li><a href="product.html">甲苯</a></li>
      <li><a href="product.html">二甲苯</a></li>  
        <li><a href="product.html">丙酮</a></li>
         <li><a href="product.html">异丙醇</a></li>
         <li><a href="product.html">乙二醇</a></li>
          <li><a href="product.html">二甘醇</a></li>
      </ul>
    </div>
    </div>
    <div class="col-md-4">
    <div id="M_cell">
      <h2>我们的仓储</h2>
      <div class="table_content">
        <div class="cell_title">OUR STORAGE</div>      
        <a href="storage.html" class="more">MORE</a>        
      </div>
      <ul>
        <li><a href="storage.html">宁兴库</a></li>
        <li><a href="storage.html">东华能源库</a></li>
        <li><a href="storage.html">长江国际库</a></li>
        <li><a href="storage.html">常熟千红库</a></li>
        <li><a href="storage.html">大新库</a></li>
        <li><a href="storage.html">华西库</a></li>
      </ul>
    </div>
    </div>
  </div>
</div>
