<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="Macontent">
	<div id="abstract">
		<div class="title1">
			<img src="image/star.png" class="star">
  			<h3><a name="rsrj">最新动态</a></h3>
  		</div>
  		<div id="News">
  			<p>2015年5月--海鹏化工新网站正式发布。</p>
  		</div>
	</div>
</div>