<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="Macontent">
	<div id="abstract">
		<div class="title1">
			<img src="image/star.png" class="star">
  			<h3><a name="rsrj">最新动态</a></h3>
  		</div>
EIA周报：美6月5日当周原油库存减少680万桶

http://china.chemnet.com/　2015-06-11 09:25:44 FX168




生意社06月11日讯

　　美国能源信息署(EIA)周三(6月10日)公布的数据显示，美国原油库存连续第六周下降，跌幅创2014年7月以来之最，同时，汽油库存降低，精炼油库存增加。

　　数据显示，截至6月5日当周，美国原油库存下降681.2万桶至4.730亿桶，分析师预期下跌170万桶；NYMEX原油期货交割地库欣原油库存下跌102.4万桶.

　　EIA的数据还显示，6月5日当周炼油厂日处理原油增加16.9万桶，产能利用率上升1.4%至94.6%；6月5日当周汽油库存下跌293.9万桶，分析师预计增加28.0万桶；精炼油库存增加86.5万桶，分析师预期增加134万桶；6月5日当周原油日进口减少75.0万桶至618万桶。

　　EIA6月9日修正了国内原油产量预期，预计美国2016年原油日产量下跌16万桶，而此前预期增加。EIA表示，美国原油产量增速将在明年晚些时候恢复。

　　尽管本周油价上涨，有分析师表示，因全球原油供应过剩，进一步大幅上涨是不可能的。

　　荷兰银行在6月份商品报告中表示，“美国原油产量仍维持于纪录高点附近，OPEC维持产量日产原油3000万桶的目标，有迹象表明OPEC成员甚至增加产量，供过于求的状况将比预期维持更长的时间。我们同时预计美元走强，这和供求因素一起，使原油面临下行风险。”

  		{{> EIA周报：美6月5日当周原油库存减少680万桶/news }}
	</div>
</div>
