<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="Prcontent">
	<div id="item">
		<ul>
			<li id="catalog"><a href="#">目录</a></li>
			<li class="main"><a href="#">软件产品</a></li>
			<li><a href="#rsrj">人事软件</a></li>
			<li><a href="#zzjg">组织构架</a></li>
			<li><a href="#reda">人事档案</a></li>
			<li><a href="#xzfl">薪资福利</a></li>
			<li><a href="#xjkq">休假考勤</a></li>
			<li><a href="#pxgl">培训管理</a></li>
			<li><a href="#jxgl">绩效管理</a></li>
			<li><a href="#zpgl">招聘管理</a></li>
			<li><a href="#lcsp">流程审批</a></li>
			<li><a href="#qxgl">权限管理</a></li>
			<li><a href="#ESS">ESS平台</a></li>
			<li class="main"><a href="#">硬件产品</a></li>
			<li class="main"><a href="#">云通讯产品</a></li>
			<li class="main"><a href="#">产品优势</a></li>
			<li><a href="#">完整性与集成性</a></li>
			<li><a href="#">标准易用性</a></li>
			<li><a href="#">灵活与智能化</a></li>
			<li><a href="#">系统安全性</a></li>
			<li><a href="#">稳定与开放性</a></li>
		</ul> 
	</div>
	<div id="abstract">
		<div class="title1">
		<img src="image/star.png" class="star">
  		<h3><a name="rsrj">人事软件</a></h3>
  		</div>
      <img src="image/CEO.png" id="CEO">
  		
  		<div class="title">
  		<img src="image/star.png" class="star">

      
  		<h3><a name="zzjg">组织架构</a></h3>
  		</div>
  		<p>
  			可完成组织、部门、职位的新增、撤消、合并等操作满足企业组织的变更发展，系统自动带出生效日期，支持公司组织架构灵活变动。</br>
			可自由设定组织结构层级、修改、撤消等。
  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="rsda">人事档案</a></h3>
  		</div>
  		<p>
  			人事档案履历管理是慧营人事管理模块中的基础功能，记录了所有员工的档案及履历信息，包括员工在公司的基本信息、个人信息、借用公司财物记录以及培训记录、绩效考核记录、晋级、警告、教育背景、工作经验、家庭成员、个人特长、资格证书、科技成果等履历信息。</br>
			包括员工入职 调动 离职以及合同管理等功能。
  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="xzfl">薪资福利</a></h3>
  		</div>
  		<p>
  			薪资管理模块包含薪资管理和福利管理对员工薪资管理和计算的所有功能，如薪资政策设定、薪资公式设定、自动计算工资、薪资报表、工资单、个人所得税表、银行自动转账文件等一系列主要管理功能。</br>
			从福利政策的制定，各种社保的缴纳，补缴，异地员工的社保缴纳等功能。
  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="xjkq">休假考勤</a></h3>
  		</div>
  		<p>
  			考勤管理模块包含休假管理 加班管理 排班以及考勤分析，是与考勤机或硬件直接连接的，考勤模块可以自动读取电子考勤钟的考勤数据，并做相关分析，分析过程是按照排班设定来进行的，同时可以结合休假模块的数据来进行具体分析，分析结果直接或间接转入薪资模块参与薪资计算。
  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="pxgl">培训管理</a></h3>
  		</div>
  		<p>
  			预设多种培训科目、培训等级、培训教师、公司名称、培训地区、培训状态、培训、出勤状况等信息资料。</br>
			可区分培训类型，如内部培训、外部培训、海外培训等。</br>
			按岗位类型定义岗位培训课程并生成员工培训需求。
  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="jxgl">绩效管理</a></h3>
  		</div>
  		<p>
  			支持平衡积分卡BSC考核，360度考核 KPI 目标管理等考核方式，支持SMART的原则创建各个维度的绩效指标；</br>
			可灵活设置能力指标、权重、评分标准、自评、评分汇总等各环节；</br>
			可自定义各种绩效考核流程，考核周期；</br>
			自定义不同类型的绩效考评模板和考评表单。
  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="zpgl">招聘管理</a></h3>
  		</div>
  		<p>
  			支持内部招聘和外部招聘，内置面试程序，招聘主管可利用面试程序给应聘者打分。分值的各项指标由用户自己定义完成，方便灵活。</br>
			用人部门与 HR 部门的工作流程紧密结合，提高招聘的工作效率。</br>
			用人部门提交的用人请求可直接由电脑完成，需求直观明了，栏目详细、丰富。

  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="lcsp">流程审批</a></h3>
  		</div>
  		<p>
  			图形化的流程设立及权限：提供图形化的方式建立各种工作流程，轻松快捷的定义流程的环节、关联的表单，定义流程的相关参与人员，及使用相关流程的权限。</br>
			灵活定义流转、跳转、会签、回退关系：系统可根据处理人的上下级关系、同公司、同部门、同岗位等属性定义工作流的流转、平行会签等关系。</br>
			支持子流程：工作流程内可嵌套子流程，扩展工作流的定义。
  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="qxgl">权限管理</a></h3>
  		</div>
  		<p>
  			实现分级授权，系统应用用户分类：HR管理用户、其他辅助用户、自助用户、领导查询用，多用户分布灵活定义不同帐户权限、可分别对程序，记录，主档定义。</br>
			痕迹管理  系统日志跟踪机制可随时查看系统使用情况。</br>
			系统支持字段级别的授权，实现某些信息只运行特定的用户查看和修改。</br>
			系统登录的安全控制包括：无效登录次数、随机生成首次登录系统密码、密码定期修改、密码组成要求等各项控制。

  		</p>

  		<div class="title">
  		<img src="image/star.png" class="star">
  		<h3><a name="ESS">ESS平台</a></h3>
  		</div>
  		<p>
  			实现全员参与的管理，在这个平台上面，系统支持界面自定义，RSS可分为员工，经理，总裁，HR四种角色。每个角色根据其权限范围查询和进行相关操作。</br>
			员工 可以查询与自己相关的各模块信息，进行在线流程申请，</br>
			经理 可以拥有员工权限，可以查询以及多下属进行查询和审批，可以排班。
  		</p>
      <br/><br/><br/><br/><br/><br/><br/>

	</div>
</div>