<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="Prcontent">
  <div id="title">
    <img src="image/star.png" class="star">
    <h3>产品介绍</h3>
  </div>
	<div id="products">
    <div class="row">
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp01.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp02.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp03.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    </div>
    <p>长期供应现货/标准货：</p>
    <table>
      <tr>
         <td class="text-center">产品名称</td>
         <td class="text-center">简介</td>
         <td class="text-center">纯度（%）</td>
         <td class="text-center">主要存放仓库</td>
      </tr>
      <tr>
         <td>甲苯</td>
         <td>1.无色澄清液体，有苯样气味，有折射光性。
             2.能与乙醇、乙醚、丙酮、氯仿、二硫化碳和冰乙醇混溶，极微溶于水。
             3.相对密度0.866，凝固点-95℃，沸点110.6℃，折光率1.4967，闪点（闭杯）4.4℃
             4.易燃，蒸汽能与形成爆炸性混合物，爆炸极限1.2%~7.0%（体积）
             5.低毒，半数致死量（大鼠，经口）500mg/Kg，高浓度气体有麻痹性，有刺激性。</td>
         <td>99.5~99.8</td>
         <td>宁兴库、张家港大新库（中油泰富）</td>
      </tr>
      <tr>
         <td>二甲苯</td>
         <td>中文名称:邻二甲苯，分子式:C8H10，分子量:106.16，CAS号:95-47-6</td>
         <td>99.65</td>
         <td>东华能源库、张家港大新库（中油泰富）、常熟千红库</td>
     </tr>
      <tr>
         <td>二甘醇 </td>
         <td>1.Diethylene glycol，C4H10O3，具有无色、无臭、透明、吸湿性的粘稠液体，有着辛辣的甜味，无腐蚀性，低毒。
             2.沸点245℃，熔点-6.5℃，凝固点-10.45℃，闪点123.9，折射率1.4472。 
             3.可作溶剂、纺织助剂、橡胶与树酯的增塑剂。</td>
         <td>张家港长江国际库、张家港孚宝库</td>
      </tr>
      <tr>
      <td>乙二醇 </td>
      <td>又名甘醇，化学式HOCH2—CH2OH。一种简单的二元醇。无色无臭、有甜味液体，能与水以任意比例混合。
          用作溶剂、防冻剂以及合成聚酯树脂等的原料。乙二醇对动物有毒性，人类致死剂量估计为1.6 g/kg，不过成人服食30毫升已有可能引致死亡。</td>
      <td>97</td>
      <td>张家港长江国际库</td>   
      </tr> 
      <tr>
      <td>异丙醇 </td>
      <td>俗称火酒，常温常压下是一种无色有强烈气味的可燃液体，分子式为C3H8O。异丙醇是最简单的仲醇，且是丙醇异构体之一。 </td>
      <td>98%-99% </td>
      <td>江阴华西库、常州新润库、张家港华润库</td>
     </tr> 
     <tr>
     <td>丙酮 </td>
     <td>1.丙酮的分子式是C₃H₆O,CAS号为67-64-1.也称作二甲基酮，饱和脂肪酮系列中最简单的酮。
         2.结构简式为CH₃COCH₃，无色液体，有特殊气味，能溶解醋酸纤维和硝酸纤维 
         3.能溶于水、乙醇、乙醚及其他有机溶剂中。丙酮的羰基能与多种亲核试剂发生加成反应。丙酮还能进行α氢的反应。
         4.用作卸除指甲油的去光水，以及油漆的稀释剂等。还可以冰冻水银</td>
       <td>99</td>
       <td>江阴恒阳库 </td>
      </tr> 	
    </table>
	</div>
</div>
