<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="Prcontent">
  <div id="title">
    <img src="image/star.png" class="star">
    <h3>产品介绍</h3>
  </div>
	<div id="products">
    <div class="row">
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp01.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp02.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp03.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    </div>
    <p>长期供应现货/标准货  发货咨询021-60524878/60482076</p>
    <table class="table table-bordered small">
      <thead>
        <tr>
           <th class="text-center text-nowrap">产品名称</th>
           <th class="text-center">产品描述</th>
           <th class="text-center">纯度（%）</th>
           <th class="text-center">主要存放仓库</th>
           <th class="text-center">联系方式</th>
        </tr>
      </thead>
      <tbody>
        <tr>
           <td class="text-center">甲苯</td>
           <td>产品等级—石油级 
               进口
               执行质量标准—国标</td>
           <td>99.5~99.8</td>
           <td>宁兴库、张家港大新库（中油泰富）</td>
           <td class="text-nowrap">徐经理021-60485331<br/>业务助理021-60529711</td>
           
        </tr>
        <tr>
           <td class="text-center">二甲苯</td>
           <td>又称混合二甲苯，两种等级—溶剂级和异构级</td>
           <td>溶剂级，含量有≥96、≥98、≥99
               异构级，含量≥99</td>
           <td>东华能源库、张家港大新库（中油泰富）、常熟千红库</td>
           <td>叶经理021-60525798<br/>业务助理021-60526348</td>
       </tr>
        <tr>
           <td class="text-center">二甘醇</td>
           <td>缩写DEG （别名二聚乙二醇）
              产品等级—优级品  执行质量标准—国标 
              进口货 例如：中东 沙特</td>
              <td>99.9</td> 
           <td>张家港长江国际库、张家港孚宝库</td>
           <td>王经理021-60485332<br/>业务助理021-60520639</td>
        </tr>
        <tr>
        <td class="text-center">乙二醇</td>
        <td>缩写MEG或者EG 执行质量标准—国标
  	产品等级—纤维级(涤纶级)
          进口货，例如韩国、日本、台湾、科威特、沙特等</td>
        <td>≥99.9</td>
        <td>张家港长江国际库</td> 
        <td>叶经理021-60521921<br/>业务助理021-60520318</td>
        </tr> 
        <tr>
        <td class="text-center">异丙醇</td>
        <td>缩写IPA用途级别—工业级 </td>
        <td>≥99.9 </td>
        <td>江阴华西库、常州新润库、张家港华润库</td>
        <td>王经理021-60485332<br/>业务助理021-60525745</td>
       </tr> 
       <tr>
       <td class="text-center">丙酮</td>
       <td>产品等级—优级品
           执行质量标准—国标 </td>
         <td>99.8</td>
         <td>江阴恒阳库 </td>
         <td>王经理021-60485332<br/>业务助理021-60482825</td>
        </tr> 	
      </tbody>
    </table>
	</div>
</div>
