<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="Prcontent">
  <div id="title">
    <img src="image/star.png" class="star">
    <h3>产品介绍</h3>
  </div>
	<div id="products">
    <div class="row">
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp01.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp02.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="image/cp03.jpg" alt="..." class="img-rounded">
    </div>
    </div>
    </div>
    <p>长期供应现货/标准货：</p>
    <table>
      <tr>
         <td class="text-center">产品名称</td>
         <td class="text-center">纯度（%）</td>
         <td class="text-center">仓库</td>
      </tr>
      <tr>
         <td>甲苯</td>
         <td>99.5~99.8</td>
         <td>宁兴库、大新库</td>
      </tr>
      <tr>
         <td>异构二甲苯</td>
         <td>99.65</td>
         <td>东华能源库</td>
      </tr>
      <tr>
         <td>二甘醇、乙二醇、  
丙酮、异丙醇 </td>
         <td></td>
         <td>长江国际库、孚宝库</td>
      </tr>
    </table>
	</div>
</div>