<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="page">
  <img src="image/star.png" class="star">
  <h3>我们的仓储</h3>
  <ul>
    <li><a href="storage.html">宁兴库</a></li>
    <li><a href="storage.html">东华能源</a></li>
    <li><a href="storage.html">长江国际</a></li>
     <li><a href="storage.html">孚宝库</a></li>
     <li><a href="storage.html">大新库（中油泰富）</a></li>
      <li><a href="storage.html">江阴恒阳库</a></li>
       <li><a href="storage.html">江阴华西库</a></li>
        <li><a href="storage.html">常州千红库</a></li>
  </ul>
</div>
