<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="page">
  <img src="image/star.png" class="star">
  <h3>我们的仓储</h3>
  <ul>
    <li><a href="storage.html">宁兴库</a></li>
    <li><a href="storage.html">东华能源</a></li>
    <li><a href="storage.html">长江国际</a></li>
  </ul>
</div>