<div id="slogan">
  <img src="image/banner5.jpg" />
</div>
<div id="page">
  <img src="image/star.png" class="star">
  <h3>我们的仓储</h3>
  <table class="table table-bordered small">
    <thead>
      <tr>
         <th class="text-center text-nowrap">名称</th>
         <th class="text-center text-nowrap">地址</th>
         <th class="text-center text-nowrap">查询提单电话</th>
         <th class="text-center text-nowrap">传真</th>
         <th class="text-center text-nowrap">是否能灌桶</th>
	       <th class="text-center text-nowrap">提货时间</th>
	       <th class="text-center text-nowrap">避高温时间</th>					
      </tr>
    </thead>
    <tbody>
      <tr>
         <td class="text-center text-nowrap">张家港东华能源库</td>
         <td>江苏省张家港市金港镇长江右岸的张家港扬子江化学工业园内</td>
         <td class="text-center text-nowrap">0512-58721271</td>
         <td class="text-center text-nowrap">0512-58759339</td>
         <td >不灌桶</td>
	       <td>24小时</td>
	       <td class="text-center text-nowrap">10:00-16:00</td>
      </tr>    	
      <tr>
         <td class="text-center">张家港宁兴库</td>
         <td>张家港金港镇港务集内</td>
         <td class="text-center text-nowrap">0512-583356591</td>
         <td class="text-center">0512-58335513</td>
         <td >5元/桶<br/>建议不定量</td>
	       <td class="text-nowrap">槽车8:00-20:00<br/>灌桶8：00-16:00</td>
	       <td>10:30-15:00</td>
       </tr>    	 
       <tr>
         <td class="text-center">张家港中东库</td>
         <td>苏州市锦丰镇三兴永圩村</td>
         <td class="text-center">0512-58535192</td>
         <td class="text-center">0512-58535199</td>
         <td class="text-nowrap">17:00以后不灌桶<br/>普通8-10元，定量12元</td>
	       <td>8:00-11:30<br/>15:00-23:30</td>
	       <td>11:00-16:00</td>
       </tr>    	 
       <tr>
         <td class="text-center">张家港大新库</td>
         <td>苏州市张家港长安中路308</td>
         <td class="text-center">0512-58763268</td>
         <td class="text-center">0512-58938330</td>
         <td >灌桶10元</td>
	       <td>24小时，天黑不灌桶</td>
	       <td>10:00-16:00</td>
	     </tr>
	     <tr>
         <td class="text-center">张家港越洋库</td>
         <td>张家港市锦丰镇圩村</td>
         <td class="text-center">0519-81699018</td>
         <td class="text-center">0519-81699028</td>
         <td >4元/桶</td>
	       <td>装货6:30-21:30</td>
	       <td>11:30-16:00</td>
	     </tr> 
	     <tr>
         <td class="text-center">张家港孚宝库</td>
         <td>江苏杨子江国际化学工业园</td>
         <td class="text-center">0512-56955632</td>
         <td class="text-center">0512-56955647</td>
         <td >/</td>
	       <td>7:00-22:00</td>
	       <td>11:00-16:00</td>
	     </tr>
	     <tr>
         <td class="text-center">江阴恒阳库</td>
         <td>江苏省江阴市开发区西区</td>
         <td class="text-center text-nowrap">0510-8668810/28</td>
         <td class="text-center text-nowrap">0510-86668823/2</td>
         <td >甲苯晚上不灌桶</td>
	       <td>24</td>
	       <td>11:00-16:00</td>
	     </tr>
	     <tr>
         <td class="text-center">江阴华西库</td>
         <td>江阴市石庄镇诚信路1号</td>
         <td class="text-center text-nowrap">0510-86668572/52</td>
         <td class="text-center">0510-86668560/5</td>
         <td >灌桶，定量6元/桶<br/>不定量4元/桶</td>
	       <td>灌桶开单时间8:00-16:00<br/>槽车24小时</td>
	       <td>11:30-16:00</td>
	     </tr> 
	     <tr>
         <td class="text-center">江阴丽天库</td>
         <td>江阴经济开发利港沿江工业园润华路9号</td>
         <td class="text-center">0510-860929692</td>
         <td class="text-center">0510-86092555</td>
         <td >不灌桶</td>
	       <td>8:00-22:00时</td>
	       <td>11:30-16:00</td>
	       <tr>
         <td class="text-center">常熟千红库</td>
         <td>常熟经济技术开发区滨江路8号</td>
         <td class="text-center">0512-52192368</td>
         <td class="text-center">0512-52192366</td>
         <td >/</td>
	       <td>/</td>
	       <td>11:00-16:00</td>
	     </tr> 
	     <tr>
         <td class="text-center">张家港长江国际库</td>
         <td>张家港保税区北区、张家港保税物流园区西区内</td>
         <td class="text-center">0512-58387088</td>
         <td class="text-center">0512-58387392</td>
         <td >/</td>
	       <td>/</td>
	       <td>11:30-16:00</td>
	     </tr>
              <tr>
         <td class="text-center text-nowrap">江苏舜天化工仓储有限公司</td>
         <td>江苏省张家港市保税区西区</td>
         <td class="text-center text-nowrap">0512-55371726</td>
         <td class="text-center text-nowrap">0512-55371726</td>
         <td >不灌桶</td>
	       <td>保税区里6:00-21.30</td>
	       <td class="text-center text-nowrap">10:00-16:00</td>
      </tr>    	
	     <tr>
         <td class="text-center">常州新润库</td>
         <td>滨江化工区龙江北路</td>
         <td class="text-center">0519-81699018</td>
         <td class="text-center">0519-81699028</td>
         <td >4元/桶</td>
	       <td>装货6:30-21:30</td>
	       <td>11:00-16:00</td>
	     </tr> 
     </tbody>
  </table>
</div>
