<div id="News">
   <p><a href="/article/2015-06-28-central-bank.html"target="_blank">央妈紧急“救市”！降息&定向降准历史罕见大招出炉 </a></p>
   <p><a href="/article/2015-06-28-oil-news.html">CFTC：6月23日当周对冲基金减持原油净多头头寸 </a></p>
   <p>2015年5月--海鹏化工新网站正式发布。</p>
</div>
   
